html,
body,
.mainDiv {
    margin:0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


/* MOBILE  */

.formSection {
    width: 100%;
}
.formSection-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    display: none;
}
.formSection-welcome {
    margin: 0 auto;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}
.formSection-welcome-header > h1 {
    font-size: 30px;
    font-weight: bolder;
}
.formSection-welcome-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formSection-welcome-buttons > * {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    border-radius: 9999px;
}
.formSection-welcome-buttons > button:nth-child(2) {
    background-color: rgb(29, 161, 242);
    border: 1px solid transparent;
    color: white;
    margin-bottom: 15px;
    min-height: 39px;


}
.formSection-welcome-buttons>button:nth-child(3) {
    border: 1px solid rgb(29, 161, 242);
    background-color: white;
    margin-bottom: 15px;
    min-height: 39px;


}

.descriptionSection {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    background: rgb(29, 161, 242);
    color: rgb(255,255,255)
   
}

.descriptionSection-contentDiv {
    max-width: 380px;
    margin: 0 auto;
}
.buttonsSection {
    width: 100%;
 
   
}

.buttonsSection-contentDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 39px;
    padding-bottom: 30px;
    max-width: 380px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsSection-contentDiv > * {
    width: 180px;
    min-height: 39px;
    border-radius: 9999px;
    min-width: 63px;
}
.buttonsSection-contentDiv > button:nth-child(1) {
background-color: rgb(29, 161, 242);
color: rgb(255,255,255);
margin-right: 10px;
border: 1px solid rgb(29, 161, 242);
}
.buttonsSection-contentDiv>button:nth-child(2) {
background-color: rgb(255,255,255);
color: rgb(29, 161, 242);
margin-left: 10px;
border: 1px solid rgb(29,161,242);

}

.footerSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(101, 119, 134);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 13px;
}
.footerSection > a {
    text-decoration: none;
    color: inherit;
    padding-right: 13px;
}


/* TABLET */
@media (min-width: 800px) and (max-width: 1000px) {
 
 .mainDiv {
     display: flex;
     flex-direction: row-reverse;
     flex-wrap: wrap;
 }
    .buttonsSection {
     display: none;
 }  
 .formSection, .descriptionSection {
     width: 50%;
     height: 90vh;
     margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
}



/* DESKTOP */
@media (min-width: 1001px) {
    .mainDiv {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
       .buttonsSection {
        display: none;
    }  
    .formSection, .descriptionSection {
        width: 50%;
        height: 90vh;
        margin: auto;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
    }
    .formSection-inputs {
        display: flex;
        position: absolute;
        top:15px;
        left: 0; 
    margin: 0 auto; 
justify-content: center;  }
   
}