html,
body,
.mainDiv {
    margin:0;
    width: 100%;
    height: 100vh;
}


/* MOBILE  */

.formSection {
    width: 100%;
}
.formSection-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    display: none;
}
.formSection-welcome {
    margin: 0 auto;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formSection-welcome-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formSection-welcome-buttons > * {
    width: 100%;
}

.descriptionSection {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
   
}

.descriptionSection-contentDiv {
    max-width: 380px;
    margin: 0 auto;
}




/* TABLET */
@media (min-width: 800px) and (max-width: 1000px) {
   
}



/* DESKTOP */
@media (min-width: 1001px) {
   
}